<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template1">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
 th:href="@{/css/bootstrap.min.css}"/>
<head>
<meta charset="utf-8" />
<title>liste clients</title>
</head>
<style>
.red {
	color: red;
}

.orange {
	color: orange;
}

.green {
	color: green;
}
.table-striped>tr:nth-child(odd)>td,
 
.table-striped>tr:nth-child(odd)>th {
 
background-color: #C49F0F;
 
}
 
</style>
<body layout:fragment="content">

	<div th:fragment="listClients" class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Liste client</div>
			<div class="panel-body">
				<table id="clients" class="table table-stripped">
					<thead>
						<tr>
							<th>nom</th>
							<th>ville</th>
							<th>action</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script>
  
  function format ( client ) {
		console.log(client);
	    return '<div class="bg-success text-white"><br>nom : '+client.nom+'</br>ville : ' +client.ville.nom_ville+'<br>email : ' +client.email+'</br></div>';
	}
  
	$(document).ready( function () {
		 var table = $('#clients').DataTable({
			        "processing": true,
			        "ajax": {
			            "url": "list-clients",
			            "type": "GET",
			            "dataSrc":""
			        },
			        "columns": [
			            { "data": "nom" , "name": "nom" ,"searchable": true},
			            { "data": "ville.nom_ville" , "name": "ville","orderable":true },
			            {// this is Actions Column 
			                mRender: function (data, type, row) {
			                    var linkSupprimer = '<a href="/supprimer/'+ row.code +
			                    '"><span class="glyphicon glyphicon-trash red"></span></a>';

			                    var linkModifier = '<a href="/modifier/'+ row.code +
			                    '"><span class="glyphicon glyphicon-pencil orange"/></a>';
			                    
                                var linkVisualiser = '<a href="#" ><span class="glyphicon glyphicon-zoom-in"/></a>';

			                    return linkModifier + "  " + linkSupprimer+" "+linkVisualiser;
			                }
			            }
		            
			        ],
			        "oLanguage": {
                        "sInfo": 'There are a total of _TOTAL_ <span class="lvllbl"></span>(s).',
                        "sInfoEmpty": 'There are a total of _TOTAL_ <span class="lvllbl"></span>(s).',
                        "sEmptyTable": 'There are no <span class="lvllbl"></span>(s) to display',
                        "sZeroRecords": 'There are no matching <span class="lvllbl"></span>(s) to display',
                        "sProcessing": 'Please wait - loading <span class="lvllbl"></span> (s) ...'
                    }
			    } );
		 
		 
			// Array to track the ids of the details displayed rows
		    var detailRows = [];
		 
		    $('#clients tbody').on( 'click', 'tr td span.glyphicon-zoom-in', function () {
		        var tr = $(this).closest('tr');
		        var row = table.row( tr );
		        var idx = $.inArray( tr.attr('code'), detailRows );
		        if ( row.child.isShown() ) {	
		            tr.removeClass( 'details' );
		            row.child.hide();
		 
		            // Remove from the 'open' array
		            detailRows.splice( idx, 1 );
		        }
		        else {
		            tr.addClass( 'details' );
// 		            alert(row.data().nom);
		            row.child(format(row.data())).show();
		 
		            // Add to the 'open' array
		            if ( idx === -1 ) {
		                detailRows.push( tr.attr('code') );
		            }
		        }
		    } );
		 
		    // On each draw, loop over the `detailRows` array and show any child rows
		    table.on( 'draw', function () {
		        $.each( detailRows, function ( i, id ) {
		            $('#'+id+' td.details').trigger( 'click' );
		        } );
		    } );

		 
	});	
	</script>
	</th:block>

</body>
</html>