<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>liste  clients</title>
</head>
<style>
.red {
    color: red;
}
.orange {
    color: orange;
}
.green {
    color: green;
}</style>
<body layout:fragment="content">
		  <div th:fragment="listClients" class="col-md-6">
		      <table id="clients" class="table table-stripped">
		      <thead>
		        <tr>
		         <th>nom</th>
		         <th>email</th>
		         <th>action</th>
		       </tr>
		      </thead>
		      <tbody>
		      <tr><td id ="details" class="details"></td></tr>
		      </tbody>
		     </table>
		  </div>
<th:block layout:fragment="script">
  <script>
	$(document).ready( function () {
		 var table = $('#clients').DataTable({
			        "processing": true,
			        "serverSide": true,
			        "ajax": {
			            "url": "list-clients",
			            "type": "GET",
			            "dataSrc":""
			        },
			        "columns": [
			            { "data": "nom" , "name": "nom" ,"searchable": true},
			            { "data": "email" , "name": "email","orderable":true },
			            {// this is Actions Column 
			                mRender: function (data, type, row) {
			                    var linkSupprimer = '<a href="/supprimer/'+ row.code +
			                    '"><span class="glyphicon glyphicon-trash red"></span></a>';

			                    var linkModifier = '<a href="/modifier/'+ row.code +
			                    '"><span class="glyphicon glyphicon-pencil orange"/></a>';

			                    return linkModifier + "  " + linkSupprimer;
			                }
			            }
		            
			        ]
			    } );
	});	
	</script>
</th:block>
		  
</body>
</html>